<div class="container-fluid">
  <main>
    <header class = "jumbotron" id = "catheader" ng-style="{'background-image': 'url(' + vm.recipe.photo_url+ '), url('+ vm.category.image_url+ ')'}">
      <h1><strong>{{vm.recipe.title}}</strong></h1>
    </header>
    <span class="col-md-4">Servings :{{vm.recipe.servings}}</span>
    <span class="col-md-4">Calories :{{vm.recipe.calories}}</span>
    <span class="col-md-4">Ratings :{{vm.recipe.ratings}}</span><br><br>
    <h4>INGREDIENTS:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <span ng-hide="ingredients.showAdd">
            <th colspan="3"></th>
            <tr data-ng-repeat="ingredient in vm.ingredients">
              <span ng-hide="ingredient.showEdit">
                <td tabindex="1" id="bigger">{{ingredient.amount}} {{ingredient.measurement}} {{ingredient.component}}
                  <span class="btn-group pull-right row">
                    <span class="col-md-3">
                      <span ng-hide="ingredient.showButton">
                        <button ng-click="ingredient.showEdit = !ingredient.showEdit; ingredient.showButton = !ingredient.showButton" class="btn editbtn">  Edit</button>
                      </span>
                      <span ng-show="ingredient.showButton">
                        <button ng-click="ingredient.showEdit = !ingredient.showEdit; ingredient.showButton = !ingredient.showButton"  class="btn editbtn">  Cancel </button>
                      </span>
                    </span>
                    <span class="col-md-1"></span>
                    <span class="col-md-3">
                      <button class="btn deletebtn" data-ng-click="vm.destroy(ingredient)">Delete</button>
                    </span>
                  </span>
                    <span ng-show="ingredient.showEdit" class="f-15">
                      <span>
                      <label for="vm.ingredient.amount">Amount</label>
                      <input type="text" ng-model="ingredient.amount">
                      <label for="vm.ingredient.measurement">Measurment</label>
                      <select ng-model="ingredient.measurement" class="dropdown">
                        <option ng-repeat="measurement in vm.measurements" ng-selected="{{ measurement === ingredient.measurement ? 'true' : 'false' }}" value="{{measurement}}">{{measurement}}</option>
                      </select>
                      <label for="vm.ingredient.component">Ingredient</label>
                      <input type="text" ng-model="ingredient.component">
                      <button class="btn editbtn" ng-click="vm.update(ingredient); ingredient.showEdit = !ingredient.showEdit ">Update</button>
                    </span>
                </td>
              </span>
            </tr>
          </thead>
        </table>
        <h4>DIRECTIONS:</h4>
        <div class="dropdown">
         {{vm.recipe.instructions}}
        </div>
        <td valign="bottom">
          <span><br>
            <button data-ui-sref="categoryShow({id: vm.recipe.category_id})" class="btn updatebtn">Back</button>
            <button data-ui-sref="recipeEdit({id: vm.recipe.id, category_id: vm.recipe.category_id})" class="btn editbtn">Edit Recipe</button>
            <span ng-hide="new_ingredient.showButton" class="pull-right">
              <button ng-click="ingredients.showAdd = !ingredients.showAdd;  new_ingredient.showButton = !new_ingredient.showButton" class="btn createbtn">  Add New Ingredient</button>
            </span>
            <span ng-show="new_ingredient.showButton">
              <button ng-click="ingredients.showAdd = !ingredients.showAdd;  new_ingredient.showButton = !new_ingredient.showButton"  class="btn deletebtn">  Cancel Add</button>
            </span>
          </span>
        </td>
        <span ng-show="ingredients.showAdd">
          <input type="text" ng-model="vm.new_ingredient.component" placeholder="Enter Ingredient" >
          <label for="vm.ingredient.measurement" class="light_label">Measurment</label>
          <select ng-model="vm.new_ingredient.measurement" class="dropdown">
            <option ng-repeat="measurement in vm.measurements" value="{{measurement}}">{{measurement}}</option>
          </select>
          <input type="text" ng-model="vm.new_ingredient.amount" placeholder="Enter Amount" >
          <button class="createbtn" data-ng-click="vm.create(); ingredients.showAdd = !ingredients.showAdd">Create New Ingredient</button>
        </span>
      </main>
    </div>
